$hero-height: 90vh;

@mixin bg--center {
    background-size: cover;
    align-items: center;
}

.site-hero {
    height: $hero-height;
    display: flex;
    align-items: center;
    position: relative;

    &.site-hero--solutions {
        background: url("../images/blur-business-chart-159888.jpg") top right no-repeat;
        @include bg--center;
    }

    &.site-hero--insights {
        background: url("../images/browser-coffee-cup-6335.jpg") no-repeat center;
        background-size: cover;
    }

    &.site-hero--about-us {
        background: url("../images/dylan-gillis-533818-unsplash.jpg") no-repeat center;
        background-size: cover;
    }

    &.site-hero--careers {
        background: url("../images/headway-537308-unsplash.jpg") no-repeat center;
        background-size: cover;
    }

    &.site-hero--contact {
        background: url("../images/mark-solarski-209233-unsplash.jpg") no-repeat center;
        background-size: cover;
    }
    &.site-hero--discovery {
        background: url("../images/discovery.jpg") no-repeat center;
        background-size: cover;
    }
    
    &.site-hero--single {
        background-repeat: no-repeat;
        background-size: cover;
    }


//Product Pages

    &.site-hero--control-m {
        background:
            url("../images/DBA-Control-M-New.jpg") no-repeat center;
        background-size: cover;
    }
    &.site-hero--helix-itsm {
        background:
            url("../images/helix-itsm.jpg") no-repeat center;
        background-size: cover;
    }
    &.site-hero--remedyforce {
        background:
            url("../images/remedyforce.jpg") no-repeat center;
        background-size: cover;
    }
    &.site-hero--truesight-op {
        background:
            url("../images/truesight-op-management.jpg") no-repeat center;
        background-size: cover;
    }
    &.site-hero--cloud-management {
        background:
            url("../images/tbn-multi-cloud.jpg") no-repeat center;
        background-size: cover;
    }
    &.site-hero--truesight-automation {
        background:
            url("../images/tbn-dso-trusight-server-automation.jpg") no-repeat center;
        background-size: cover;
    }
    
    
    @media screen and (min-width: 40em) {
        background-position: center center;
    }
}

.hero-content {
    max-width: $global-width;
    padding: 5% 20% 5% 15%;

    @include breakpoint(medium down) {
        padding: 10%;
    }
}