footer {
    padding: 3rem;
    background: $tertiary-color;
    box-shadow: inset -3px 35px 75px -2px rgba(0, 0, 0, 0.7);
    @include breakpoint(small only) {
        padding: 1rem;
        box-shadow: inset -3px 20px 10px -2px rgba(0, 0, 0, 0.7);
    }

    section {
        @include xy-grid-container;
        @include xy-grid;
        @include flex-align(center, middle);

        div {
            @include xy-cell(12);
            @include xy-gutters;
        }

        @include breakpoint(large) {
            .footer__logo {
                @include xy-cell(2);
            }

            .footer__sign-up {
                @include xy-cell(4);
                @include xy-cell-offset(1);
                
            }

            .footer__menu {
                @include xy-cell(2);
                @include xy-cell-offset(3);
            }
        }
    }
}

.footer__logo {
    text-align: center;
    p {
        padding-top: 1rem;
    }
}

.footer__sign-up {
    position: relative;
    a {
        position: absolute;
        top: 0; 
        right: 0;
    }
}


@include breakpoint(small only) {
    .footer__logo {
        padding-top:1rem;
    }

    .footer__sign-up {
        padding-bottom: 1rem;
    }
}

.footer__sign-up input {
    padding: 1.5rem;
    border: 2px solid white;
}

.footer__menu {
    ul {
        list-style-type: none;

        &.text--white li a {
            color: white;
        }
    }
}